In [8]:
import geopandas as gpd

In [37]:
gdf = gpd.read_file('parcel_clean_final/mathura/Mathura_final.shp')

In [39]:
gdf

,STATE,KHASRA,DISTRICT,TAHSIL,VILLAGE,area_hecta,longitude,latitude,geometry
0,Uttar Pradesh,3,MATHURA,MAHAVAN,NAGLA DHANOUA,0.350753,77.828046,27.492379,"POLYGON ((77.82783 27.49266, 77.82811 27.49256..."
1,Uttar Pradesh,3,MATHURA,MAHAVAN,NAGLA DHANOUA,0.350753,77.828046,27.492379,"POLYGON ((77.82783 27.49266, 77.82811 27.49256..."
2,Uttar Pradesh,3,MATHURA,MAHAVAN,NAGLA DHANOUA,0.350753,77.828046,27.492379,"POLYGON ((77.82783 27.49266, 77.82811 27.49256..."
3,Uttar Pradesh,3,MATHURA,MAHAVAN,NAGLA DHANOUA,0.350753,77.828046,27.492379,"POLYGON ((77.82783 27.49266, 77.82811 27.49256..."
4,Uttar Pradesh,3,MATHURA,MAHAVAN,NAGLA DHANOUA,0.350753,77.828046,27.492379,"POLYGON ((77.82783 27.49266, 77.82811 27.49256..."
...,...,...,...,...,...,...,...,...,...
975,Uttar Pradesh,137,MATHURA,MAHAVAN,NAGLA DHANOUA,0.670255,77.820546,27.485023,"POLYGON ((77.82125 27.48476, 77.82057 27.48458..."
976,Uttar Pradesh,155,MATHURA,MAHAVAN,NAGLA DHANOUA,0.454202,77.820313,27.483895,"POLYGON ((77.82009 27.48342, 77.81977 27.48370..."
977,Uttar Pradesh,155,MATHURA,MAHAVAN,NAGLA DHANOUA,0.454202,77.820313,27.483895,"POLYGON ((77.82009 27.48342, 77.81977 27.48370..."
978,Uttar Pradesh,155,MATHURA,MAHAVAN,NAGLA DHANOUA,0.454202,77.820313,27.483895,"POLYGON ((77.82009 27.48342, 77.81977 27.48370..."
979,Uttar Pradesh,155,MATHURA,MAHAVAN,NAGLA DHANOUA,0.454202,77.820313,27.483895,"POLYGON ((77.82009 27.48342, 77.81977 27.48370..."

In [110]:
slice_gdf = gdf.iloc[0:2,:]
gdf_concat = gpd.GeoDataFrame(pd.concat([gdf, slice_gdf], axis = 0, ignore_index= True))

In [111]:
gdf_concat.isna().sum()

STATE         4
KHASRA        2
DISTRICT      2
TAHSIL        2
VILLAGE       2
area_hecta    2
longitude     2
latitude      2
geometry      2
dtype: int64

In [112]:
gdf_concat.dropna(subset=['KHASRA'],inplace=True)
gdf_concat.isna().sum()

STATE         4
KHASRA        0
DISTRICT      0
TAHSIL        0
VILLAGE       0
area_hecta    0
longitude     0
latitude      0
geometry      0
dtype: int64

In [113]:
gdf_concat['KHASRA'] = gdf_concat['KHASRA'].astype('uint')

In [114]:
gdf_concat

,STATE,KHASRA,DISTRICT,TAHSIL,VILLAGE,area_hecta,longitude,latitude,geometry
0,Uttar Pradesh,3,MATHURA,MAHAVAN,NAGLA DHANOUA,0.350753,77.828046,27.492379,"POLYGON ((77.82783 27.49266, 77.82811 27.49256..."
1,Uttar Pradesh,3,MATHURA,MAHAVAN,NAGLA DHANOUA,0.350753,77.828046,27.492379,"POLYGON ((77.82783 27.49266, 77.82811 27.49256..."
2,Uttar Pradesh,3,MATHURA,MAHAVAN,NAGLA DHANOUA,0.350753,77.828046,27.492379,"POLYGON ((77.82783 27.49266, 77.82811 27.49256..."
3,Uttar Pradesh,3,MATHURA,MAHAVAN,NAGLA DHANOUA,0.350753,77.828046,27.492379,"POLYGON ((77.82783 27.49266, 77.82811 27.49256..."
4,Uttar Pradesh,3,MATHURA,MAHAVAN,NAGLA DHANOUA,0.350753,77.828046,27.492379,"POLYGON ((77.82783 27.49266, 77.82811 27.49256..."
...,...,...,...,...,...,...,...,...,...
977,Uttar Pradesh,155,MATHURA,MAHAVAN,NAGLA DHANOUA,0.454202,77.820313,27.483895,"POLYGON ((77.82009 27.48342, 77.81977 27.48370..."
978,Uttar Pradesh,155,MATHURA,MAHAVAN,NAGLA DHANOUA,0.454202,77.820313,27.483895,"POLYGON ((77.82009 27.48342, 77.81977 27.48370..."
979,Uttar Pradesh,155,MATHURA,MAHAVAN,NAGLA DHANOUA,0.454202,77.820313,27.483895,"POLYGON ((77.82009 27.48342, 77.81977 27.48370..."
980,Uttar Pradesh,3,MATHURA,MAHAVAN,NAGLA DHANOUA,0.350753,77.828046,27.492379,"POLYGON ((77.82783 27.49266, 77.82811 27.49256..."
981,Uttar Pradesh,3,MATHURA,MAHAVAN,NAGLA DHANOUA,0.350753,77.828046,27.492379,"POLYGON ((77.82783 27.49266, 77.82811 27.49256..."

In [91]:
import pandas as pd
df = pd.read_csv('claim_losses_results_with_cause_of_loss.csv')

In [92]:
df

,Village,KHASRA,CA_Yield_Loss,CA_Pre_Harvest_Loss,CA_Localized_Calamity,CA_Prevented_Sowing,Cause_of_Loss
0,KARAB,1167,0.000000,0.0,0,1142.206541,Prevented Sowing
1,KARAB,1172,0.000000,0.0,0,1142.206541,Prevented Sowing
2,NAGLA DHANOUA,77,0.000000,0.0,0,798.113960,Prevented Sowing
3,KARAB,1171,0.000000,0.0,0,1071.036981,Prevented Sowing
4,KARAB,1172,0.000000,0.0,0,1071.036981,Prevented Sowing
...,...,...,...,...,...,...,...
975,NAGLA THANA,13,3368.748874,0.0,0,0.000000,Yield Loss
976,NAGLA DHANOUA,155,4875.383181,0.0,0,0.000000,Yield Loss
977,NAGLA DHANOUA,152,4875.383181,0.0,0,0.000000,Yield Loss
978,NAGLA DHANOUA,153,4875.383181,0.0,0,0.000000,Yield Loss
979,NAGLA DHANOUA,150,4875.383181,0.0,0,0.000000,Yield Loss

In [93]:
df.drop(columns=['Village', 'KHASRA'], inplace=True, axis=1)

In [94]:
df.dropna(inplace = True)

In [103]:
gdf_concat

,STATE,KHASRA,DISTRICT,TAHSIL,VILLAGE,area_hecta,longitude,latitude,geometry
0,Uttar Pradesh,3,MATHURA,MAHAVAN,NAGLA DHANOUA,0.350753,77.828046,27.492379,"POLYGON ((77.82783 27.49266, 77.82811 27.49256..."
1,Uttar Pradesh,3,MATHURA,MAHAVAN,NAGLA DHANOUA,0.350753,77.828046,27.492379,"POLYGON ((77.82783 27.49266, 77.82811 27.49256..."
2,Uttar Pradesh,3,MATHURA,MAHAVAN,NAGLA DHANOUA,0.350753,77.828046,27.492379,"POLYGON ((77.82783 27.49266, 77.82811 27.49256..."
3,Uttar Pradesh,3,MATHURA,MAHAVAN,NAGLA DHANOUA,0.350753,77.828046,27.492379,"POLYGON ((77.82783 27.49266, 77.82811 27.49256..."
4,Uttar Pradesh,3,MATHURA,MAHAVAN,NAGLA DHANOUA,0.350753,77.828046,27.492379,"POLYGON ((77.82783 27.49266, 77.82811 27.49256..."
...,...,...,...,...,...,...,...,...,...
977,Uttar Pradesh,155,MATHURA,MAHAVAN,NAGLA DHANOUA,0.454202,77.820313,27.483895,"POLYGON ((77.82009 27.48342, 77.81977 27.48370..."
978,Uttar Pradesh,155,MATHURA,MAHAVAN,NAGLA DHANOUA,0.454202,77.820313,27.483895,"POLYGON ((77.82009 27.48342, 77.81977 27.48370..."
979,Uttar Pradesh,155,MATHURA,MAHAVAN,NAGLA DHANOUA,0.454202,77.820313,27.483895,"POLYGON ((77.82009 27.48342, 77.81977 27.48370..."
980,Uttar Pradesh,3,MATHURA,MAHAVAN,NAGLA DHANOUA,0.350753,77.828046,27.492379,"POLYGON ((77.82783 27.49266, 77.82811 27.49256..."
981,Uttar Pradesh,3,MATHURA,MAHAVAN,NAGLA DHANOUA,0.350753,77.828046,27.492379,"POLYGON ((77.82783 27.49266, 77.82811 27.49256..."

In [104]:
# claims = gpd.GeoDataFrame(pd.concat([gdf_concat, df], axis=0, ignore_index=True))

In [105]:
claims.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1960 entries, 0 to 1959
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   STATE                  976 non-null    object
 1   KHASRA                 980 non-null    object
 2   DISTRICT               980 non-null    object
 3   TAHSIL                 980 non-null    object
 4   VILLAGE                980 non-null    object
 5   area_hecta             980 non-null    float64
 6   longitude              980 non-null    float64
 7   latitude               980 non-null    float64
 8   geometry               980 non-null    geometry
 9   CA_Yield_Loss          980 non-null    float64
 10  CA_Pre_Harvest_Loss    980 non-null    float64
 11  CA_Localized_Calamity  980 non-null    float64
 12  CA_Prevented_Sowing    980 non-null    float64
 13  Cause_of_Loss          980 non-null    object
dtypes: float64(7), geometry(1), object(6)
memory usage: 214.5+ KB

In [102]:
claims

,STATE,KHASRA,DISTRICT,TAHSIL,VILLAGE,area_hecta,longitude,latitude,geometry,CA_Yield_Loss,CA_Pre_Harvest_Loss,CA_Localized_Calamity,CA_Prevented_Sowing,Cause_of_Loss
0,Uttar Pradesh,3,MATHURA,MAHAVAN,NAGLA DHANOUA,0.350753,77.828046,27.492379,"POLYGON ((77.82783 27.49266, 77.82811 27.49256...",NaN,NaN,NaN,NaN,NaN
1,Uttar Pradesh,3,MATHURA,MAHAVAN,NAGLA DHANOUA,0.350753,77.828046,27.492379,"POLYGON ((77.82783 27.49266, 77.82811 27.49256...",NaN,NaN,NaN,NaN,NaN
2,Uttar Pradesh,3,MATHURA,MAHAVAN,NAGLA DHANOUA,0.350753,77.828046,27.492379,"POLYGON ((77.82783 27.49266, 77.82811 27.49256...",NaN,NaN,NaN,NaN,NaN
3,Uttar Pradesh,3,MATHURA,MAHAVAN,NAGLA DHANOUA,0.350753,77.828046,27.492379,"POLYGON ((77.82783 27.49266, 77.82811 27.49256...",NaN,NaN,NaN,NaN,NaN
4,Uttar Pradesh,3,MATHURA,MAHAVAN,NAGLA DHANOUA,0.350753,77.828046,27.492379,"POLYGON ((77.82783 27.49266, 77.82811 27.49256...",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,3368.748874,0.0,0.0,0.0,Yield Loss
976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,4875.383181,0.0,0.0,0.0,Yield Loss
977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,4875.383181,0.0,0.0,0.0,Yield Loss
978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,4875.383181,0.0,0.0,0.0,Yield Loss
979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,4875.383181,0.0,0.0,0.0,Yield Loss

In [116]:
gdf_concat['KHASRA'].max()

1587

In [118]:
gdf_concat.to_file('gdf.shp', driver='ESRI Shapefile')